**/*
!/FUNCTIONS.md
!/RUNTIMES.md
!/**/*.ts
!/**/*.js
!/**/*.mjs
!/package.json
!/dist/**/*.json
!/esm/**/*.json
!/**/*.map

/eslint.config.mjs
/.oxlintrc.json
/cjs
/.tshy
/.tshy-*
/__tests__

# Exclude non-publish files
/README_PLAN.md
/.speakeasy
/.devcontainer
/.github
/examples
/docs
/jsr.json
/CONTRIBUTING.md
/USAGE.md
